/* NAVBAR */

#logo {
  background-image: url("./assets/logo/proteron-logo-black.svg");
}

/* ABOUT */

.about-cards div {
  background-size: cover;
  background-position: center;
}
#about-large-card {
  background-image: url("https://images.pexels.com/photos/2102416/pexels-photo-2102416.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

#about-small-card-1 {
  background-image: url("https://images.pexels.com/photos/924676/pexels-photo-924676.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

#about-small-card-2 {
  background-image: url("https://images.pexels.com/photos/3277806/pexels-photo-3277806.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

/* CASE STUDY */

.case-study-card {
  background-image: url("https://images.pexels.com/photos/16642986/pexels-photo-16642986/free-photo-of-embracing-the-love-of-apple-gadgets-a-journey-with-the-iphone.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

/* FOOTER */

#logo-light {
  background-image: url("./assets/logo/proteron-logo-white.svg");
}
